.page {
    width: 100vw;
    height: 9vh;
    background-color: white;
    margin: 0 auto;
    margin: -2vh auto 0 auto;
    padding-bottom: 1vh;
    box-shadow: 0px 1.5px 1.5px rgba(160, 160, 160, 0.8);
}

.container {
    display: flex;
    align-items: center;
    width: 98vw;
    margin: 0 auto;
}

.logoimg {
    height: 10vh;
    float: left;
}

.logo {
    height: 9vh;
    width: 20%;
}

.Menu {
    width: 60%;
    margin: 0 auto;
}

.empty {
    width: 60%;
    margin: 0 auto;
}

.room_number {
    width: 20%;
    font-size: 2.5vh;
    font-family: 'Tw Cen MT Condensed', sans-serif;
    font-family: 'Tw Cen MT Condensed Extra Bold', sans-serif;
    color: #306fe9;
    text-align: right;
    margin-top: 15px;
    border: none;
    background-color: white;
}

.arrow {
    margin-top: -1px;
}

.room_number:hover {
    cursor: pointer;
}

.logoutbutton {
    width: fit-content;
    position: fixed;
}

.logoutbuttontext {
    margin-top: -50px;
    margin-right: -7px;
    color: rgb(181, 181, 181);
    background-color: rgb(255, 255, 255);
    padding: 5px 25px 8px 25px;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 10px;
}

.logoutbuttontext:hover {
    color: white;
    background-color: rgb(161, 161, 161);
    cursor: pointer;
}

.DropdownToggle {
    color: gray;
    background-color: rgb(0, 0, 0, 0);
    padding: 0;
    margin: 10px 0 0px 93%;
    border:none;
    border: 1px solid;
    /* font-size: 22px; */
    /* width: 10px; */
    height: 0;
}

.DropdownToggle:after {
    display: none !important;
}

.DropdownToggle:hover {
    cursor: pointer;
    background-color: white;
    color: grey;
}



.dots:hover {
    cursor: pointer;
    background-color: white;
    color: grey;
}

@media screen and (max-width: 650px) {
    .logo {
        height: 9vh;
        width: 20%;
    }

    .logoimg {
        height: 10vh;
        float: left;
    }

    .Menu {
        width: 100%;
        margin: 100px auto 0 -18%;
    }

    .room_number {
        width: 28%;
        font-size: 2.2vh;
        font-family: 'Tw Cen MT Condensed', sans-serif;
        font-family: 'Tw Cen MT Condensed Extra Bold', sans-serif;
        color: #306fe9;
        margin: 15px 0 0 -25%;
        border: none;
        background-color: white;
    }

    .page {
        width: 100vw;
        height: fit-content;
        background-color: white;
        font-size: 2vw;
        padding: 0 0 2% 0;
        box-shadow: 0px 1.5px 1.5px rgba(160, 160, 160, 0.8);
        margin-top: -70px;
    }

    .arrow {
        margin-top: -3px;
        margin-left: -4px;
    }

    .empty {
        width: 60%;
        margin: 0 auto;
    }

    .logoutbuttontext {
        margin-top: -150px;
        margin-right: -7px;
        font-size: 15px;
        color: rgb(181, 181, 181);
        background-color: rgb(255, 255, 255);
        padding: 8px 25px 8px 25px;
        border: 1px solid rgb(181, 181, 181);
        border-radius: 10px;
    }

}

