.page{
    width: 100%;
    height: 90vh;
    margin: 0 auto 0 auto;
    overflow-y: scroll;
}

.page::-webkit-scrollbar {
    display: none;
}
.content{
    width: 100%;
    max-width: 500px;
    margin: 8px auto 0 auto;   
}

@media screen and (max-width: 650px) {
    .page {
        width: 100%;
        height: 77.8vh;
        margin: 0 auto 0 auto;
        width: 98%;
        overflow-y: scroll;
    }
}