.page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* background-color: rgb(146, 146, 146); */
    /* opacity: 0.5; */
    /* margin: -14vh auto 0 auto; */
    position: absolute;
    top: 0px;
}

.background {
    width: 110vw;
    height: 110vh;
    /* align-items: center; */
    /* display: flex; */
    margin: -5vh -5vw;
    position: fixed;
    background-color: rgba(240, 242, 245, 0.8);
    /* opacity: 0.5; */
    text-align: center;
    align-items: center;
    position: absolute;
    top: 0px;
}

.container {
    width: 400px;
    height: fit-content;
    min-height: 400px;
    /* position: fixed; */
    min-width: 350px;
    max-width: 500px;
    min-height: 350px;
    /* max-height: 500px; */
    background-color: white;
    border-radius: 10px;
    padding: 0 0 10px 0;
    position: absolute;
    top: 130px;
    left: 50%;
     margin-left:-200px;
}

.header {
    font-size: 23px;
    width: 100%;
    min-width: 100%;
    color: rgb(44, 44, 44);
    /* padding: 1.8vh 1vh 1vh 1.5vh ; */
    font-weight: 1000;
    font-family: 'Tw Cen MT Condensed Extra Bold', sans-serif;
    margin: auto 0;
    /* border: 1px solid; */
}

.closicon {
    width: 10%;
    font-size: 23px;
    color: gray;
    /* position: fixed; */
    /* padding: 1.8vh 1vh 1vh 1.5vh; */
    margin: -0.5% 0 0 -10%;
    /* border: 1px solid; */
}

.closicon:active {
    background-color: none;
}

.closicon:hover {
    cursor: pointer;
}

.bar {
    width: 95%;
    background-color: rgb(167, 167, 167);
    height: 0.5px;
    margin: 0 auto;
}
@media screen and (max-width: 650px) {
    .bar {
        width: 95%;
        background-color: rgb(167, 167, 167);
        height: 0.5px;
        margin: 0 auto;
    }
}
.bar_mobile {
    width: 95%;
    background-color: rgb(167, 167, 167);
    height: 0.5px;
    margin: 0 auto;
}

.post_user {
    font-size: 20px;
    width: fit-content;
    color: #306fe9;
    padding: 1.8vh 1vh 1vh 1.5vh;
    font-weight: 1000;
    font-family: 'Tw Cen MT Condensed Extra Bold', sans-serif;
    margin: 0 0 0 1vw;
}

.TextAreabox {
    overflow-y: scroll;
    height: 320px;
    /* border: 1px solid ; */
}

.TextAreabox::-webkit-scrollbar {
    display: none;
}

.TextArea {
    margin: 10px;
    width: 95%;
    height: fit-content;
    min-height: 100px;
    max-height: 155px;
    border: none;
    font-size: 20px;
    resize: none;
    align-items: center;
    outline: none;
    
}

.imgshow {
    width: 100%;
    margin: 0 0 0 20px;
    /* overflow-y: scroll; */
}

.MenuSelect {
    /* border: 1px solid gray; */
    margin: 0 10px 10px 10px;
    box-shadow: 0px 1.5px 1.5px rgba(160, 160, 160, 0.8);
    border-radius: 10px;
}

.imageuploadicon {
    display: flex;
    align-items: center;
}

.imageuploadlabel {
    width: 80%;
    margin: 10px;
    display: flex;
}

.ImageIcon {
    font-size: 25px;
    color: rgb(0, 206, 0);
}

.ImageIcon:hover {
    cursor: pointer;
}

.PostButton {
    width: 95%;
    height: 40px;
    font-size: 20px;
    background-color: #306fe9;
    border: none;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 1.5px 1.5px rgba(160, 160, 160, 0.8);
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto ;
}
@media screen and (max-width: 650px) {
    .PostButton {
        width: 95%;
        height: 50px;
        font-size: 20px;
        background-color: #306fe9;
        border: none;
        border-radius: 10px;
        color: white;
        box-shadow: 0px 1.5px 1.5px rgba(160, 160, 160, 0.8);
        display: flex;
        align-items: center;
        margin: 0 auto ;
    }
}


.PostButton:hover {
    cursor: pointer;
    background-color: #2758bb;
}
.imgshow{
    overflow-y: scroll;
    height: 200px;
}
.imgshow::-webkit-scrollbar{
    visibility: hidden;
}
.cancle{
    color: white;
    width: 80px;
    background-color: red;
    border-radius: 10px;
    padding: 5px 10px;
    border:none;
    box-shadow: 0px 1.5px 1.5px rgba(160, 160, 160, 0.8);
}
.confirm{
    color: white;
    width: 80px;
    background-color: green;
    border-radius: 10px;
    padding: 5px 10px;
    border:none;
    box-shadow: 0px 1.5px 1.5px rgba(160, 160, 160, 0.8);
}
